/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2020, 07:41:52 PM
    Author     : User
*/


.cardCuenta {   

    background-color:#57b4dc;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:11px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}

.msjError{
    color: red;
}
.msjSuccess{
    color:green;
}
body{
    background: url(../img/fondoMenuBCP.png) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:75%;
    padding: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: orange;
}

.bg-light {
    background-color: #d38400!important;
}

.img{
    max-height: 100px;
    max-width: 100px;
}

.modal-content{
  background-color: rgb(255, 128, 0);
  opacity: .85;
  box-shadow: 0px 0px 3px rgb(0, 0, 0); 
  width: 330px;
  height: 375px;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
 font-family:cursive;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background: orange;
}